NODE_ENV=

POSTGRES_DIALECT=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

POSTGRES_HOST_TEST=
POSTGRES_PORT_TEST=
POSTGRES_DATABASE_TEST=
POSTGRES_USERNAME_TEST=
POSTGRES_PASSWORD_TEST=
POSTGRES_DIALECT_TEST=

# POSTGRES_DIALECT=postgres
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_DATABASE=ddd
# POSTGRES_USERNAME=ddd-user
# POSTGRES_PASSWORD=passworddd

# POSTGRES_HOST_TEST=localhost
# POSTGRES_PORT_TEST=5433
# POSTGRES_DATABASE_TEST=ddd-test
# POSTGRES_USERNAME_TEST=ddd-user-test
# POSTGRES_PASSWORD_TEST=passworddd
# POSTGRES_DIALECT_TEST=postgres